.container{
    margin-top: 50px;
}

#top{
    background-color: #f7f7f7;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 50px;
    border: 1px solid #aaa8a8;
}

#acessorio{
    background-color: radial-gradient(
        ellipse at 60% 40%,
        #0a0f3c 0%,
        #02042a 60%,
        #00051a 100%);
    border-radius: 20px;
    padding: 15px;
    border: 1px solid #aaa8a8;
}