<div class="container">
    <div class="card mt-4">
        <h5 class="card-header">SOBRE NOSSA EMPRESA</h5>
        <div class="card-body">
            <h5 class="card-title">WaveMotors</h5>
            <p class="card-text">
                WaveMotors - Excelência em Veículos Semi-Novos e Usados
                Desde a sua fundação, a WaveMotors tem se destacado como uma referência em vendas de veículos semi-novos e usados na região. Com mais de duas décadas de experiência, nossa empresa se orgulha de oferecer aos clientes uma ampla variedade de automóveis de alta qualidade, garantindo sempre a melhor relação custo-benefício.
                <br> <br>
                Nossa história começou há 25 anos, quando nosso fundador, João Silva, vislumbrou a oportunidade de transformar o mercado de veículos usados. Com uma pequena loja e muita determinação, ele iniciou a jornada que faria da WaveMotors um nome de confiança na indústria automobilística local.
                <br> <br>
                Ao longo dos anos, a WaveMotors cresceu e evoluiu, sempre mantendo o compromisso com a satisfação do cliente e a transparência nas negociações. Hoje, contamos com um extenso estoque de veículos rigorosamente inspecionados, que passam por um criterioso processo de seleção para assegurar que apenas os melhores automóveis sejam disponibilizados aos nossos clientes.
                <br> <br>
                Nossa equipe de especialistas é formada por profissionais apaixonados por carros e comprometidos em proporcionar uma experiência de compra diferenciada. Desde o primeiro contato até o fechamento do negócio, nosso objetivo é tornar a aquisição de um veículo um processo fácil, seguro e agradável.
                <br>
                Além disso, a WaveMotors se orgulha de fazer parte da comunidade local, contribuindo ativamente com iniciativas sociais e ambientais. Acreditamos que nosso sucesso está intrinsecamente ligado ao bem-estar da nossa região e trabalhamos continuamente para retribuir a confiança e o apoio que recebemos ao longo dos anos.
                <br>
                Se você está em busca de um veículo semi-novo ou usado que combine qualidade, preço justo e um atendimento de excelência, venha nos visitar. Na WaveMotors, você encontrará o carro dos seus sonhos e uma equipe pronta para ajudá-lo a fazer a melhor escolha. Estamos ansiosos para atendê-lo e continuar nossa trajetória de sucesso e inovação no mercado de automóveis.
                <br> <br>
                WaveMotors - Conectando você ao seu próximo carro.
            </p>
        </div>
    </div>
    <div class="form-container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <form>   
                    <a href="https://wa.me/5545400289229?text=TENHO%20INTERESSE" target="_blank">
                    <p type="submit" class="btn btn-primary mt-3" style="background-color:#EC1B2A; color: white; border: 1px solid #EC1B2A;">Entrar em contato</p>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
