<br />
<div class="container">
  <div class="row">

    <div class="col-lg-12 centralizar topo">
      <div class="card">
        <div class="card-body">
          <h3>Proposta Recebida</h3>
          <br><h5>Nome: {{proposta.nome_cliente}}</h5>
          <br><h5>Email: {{proposta.email_cliente}}</h5>
          <br><h5>Telefone: {{proposta.telefone_cliente}}</h5>
          <br><h5>Veiculo Interessado: {{proposta.anuncioveiculo.modelo}}</h5>
          <br><h5>Valor de Veiculo: R$ {{proposta.anuncioveiculo.valorcarro}},00</h5>
          <br><h5>Valor Oferecido: R$ {{proposta.valor_proposta}},00</h5>
        </div>
      </div>
    </div>

  </div>
</div>