<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <h3>Propostas Recebidas</h3>
          <div class="direita">
          </div>
          <br>
          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Modelo</th>
                <th>Valor do Veiculo</th>
                <th>Valor Ofertado</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
              </tr>
            </thead>
            <tbody>
              @for (proposta of lista; track $index) {
              <tr>
                <td>{{ proposta.id_proposta }}</td>
                <td>{{ proposta.anuncioveiculo.modelo || 'Carregando...' }}</td>
                <td>{{ proposta.anuncioveiculo.valorcarro }}</td>
                <td>{{ proposta.valor_proposta }}</td>
                <td>{{ proposta.nome_cliente }}</td>
                <td>{{ proposta.email_cliente }}</td>
                <td>{{ proposta.telefone_cliente }}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


