<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <h3>Propostas Recebidas</h3>
          <div class="direita">
          </div>
          <br>
          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Modelo</th>
              </tr>
            </thead>
            <tbody>
              @for (proposta of lista; track $index) {
              <tr style="cursor:pointer" (click)="viewById(proposta)">
                <td>{{ proposta.idProposta }}</td>
                <td>{{ proposta.anuncioveiculo.modelo }}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #modalPropostaView>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Proposta</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">

    <app-propostadetails (retorno)="retornoDetalhe($event)"></app-propostadetails>
  </div>

</ng-template>
