<div class="container">
  <div class="search-container">
    <div class="search-tabs">
      <div class="active">Comprar carros</div>
    </div>
    <div class="search-input">
      <input [(ngModel)]="pesquisa" type="text" placeholder="Digite marca ou modelo do carro">
    </div>
    <div class="search-button">
      <button (click)="pesquisar()">Pesquisar</button>
    </div>
  </div>

  <div id="cards" class="row justify-content-center g-4">
    @for (carro of lista; track $index) {
      <div routerLink="/carros/view/{{carro.id_anuncio}}" class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
        <div class="card w-80 h-80 m-2">
          @if(carro.imagem){
          <img [src]="carro.imagem" class="card-img-top" alt="Skyscrapers"/>
        }@else{
          não há imagem
        }
          <div class="card-body">
            <h5 class="card-title">{{carro.veiculosmarca.marca}}  {{carro.modelo}}</h5>
            <p class="card-text ">
              <h6>Ano de Fabricação:</h6>{{carro.ano}} <br>
              <h6>Quilometragem: </h6>{{carro.km}}<br>
              <h6>Tipo de Combustivel</h6>{{carro.combustivel}}<br>
          </div>
          <div class="card-footer">
            <small class="text-muted">R${{carro.valorcarro}},00</small>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<footer style="background: transparent; box-shadow: none; border: none;">
  <div class="container p-4" style="background: transparent; box-shadow: none; border: none;">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Informações Úteis</h5>
        <br>
        <p>
          📍 Av. das Cataratas, 1118 - Vila Yolanda, Foz do Iguaçu - PR, 85853-000<br>
          📞 (45) 3528-7997<br>
          🕗 Horário de atendimento:<br>
          Seg. à Sexta 08:00 - 18:00, Sábado 08:00 - 12:00.
        </p>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Empresa</h5>
        <p>
          <br>
          A Wave Motors é referência em vendas de veículos de alta qualidade, oferecendo uma ampla variedade de carros para todas as necessidades e preferências. Com um atendimento personalizado e uma equipe de especialistas, garantimos uma experiência de compra agradável e confiável. Descubra por que somos líderes no mercado automobilístico e sinta a diferença da excelência.
        </p>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background: transparent; color: #fff;">
    © 2024 Copyright:
    <a class="text-light" href="https://mdbootstrap.com/">Wavemotors</a>
  </div>
</footer>
